
<!DOCTYPE html>
<html lang='en'>

<h3> Booking for   
   <%= @store_bike.store.name %>
   <%= @store_bike.bike.name %> 
   
</h3>
<table class="bookings_table">
  <tr>
    <th>Start</th><br>
    <th>End</th><br>
    <th>Price</th>
  </tr>
  
  <% @bookings.each do |booking| %>
  <tr>
    <td>
      <%= booking.start_time.strftime('%e %b %Y %H:%M%p') %>
    </td>
    <td>
      <%= (booking.calculate_end_time + 60).strftime('%e %b %Y %H:%M%p') %>
    </td>
    <td>
      <!--%= booking.length * @store_bike.bike.price %-->
    </td>
    <td>
      <%= booking.user_id %>
    </td>
    <div class="booking-meta-details">
    <body>
    <td><small>Booked by: <%= link_to booking.user_id if booking.user_id%>, <%= link_to gravatar_for(booking) if booking.user_id%>,  <!--li><!--%= link_to gravatar_for(booking.user_id), user_path(booking.user_id) %></li-->,
    <%= time_ago_in_words(booking.created_at) %> ago,
    last updated: <%= time_ago_in_words(booking.updated_at) %></small></td>
    </body>
    </div>
    <% if signed_in? && (current_user == booking.user) %> 
    <td><%= link_to "Delete", store_store_bike_booking_path(@store, @store_bike, booking), data: { confirm: 'Are you sure?' }, method: :delete %>
    </td>
    <td><%= link_to "Edit", edit_store_store_bike_booking_path(@store, @store_bike, booking) %>
    </td>
  </tr>

</table>
<% end %>
<% end %>