<div class="results-block">
  <%= bootstrap_flash %>
</div>

<% if @storebike %>
  <div class="well results-block">
    
      <td>Bike:<%= @storebike.id %></td>
      <td>Name:<%= @storebike.bike.name%></td>
      <td>Store:<%= @storebike.store.name%></td>
      <td>Price:<%= @storebike.bike.price%></td>
   
  </div>
<% end %>

