<div class="results-block">
  <%= bootstrap_flash %>
</div>

<% if @storebike %>
  <div class="well results-block">
    <strong>Bike:<%= @storebike.id %></strong>
    <strong>Name:<%= @storebike.bike.name%></strong>
    <strong>Store:<%= @storebike.store.name%></strong>
    <strong>Price:<%= @storebike.bike.price%></strong>
  </div>
  
<% end %>

