<% @user ||= current_user %>
<h1 align="center"> <%= gravatar_for(current_user, size: 150) %> Welcome <%= current_user.first_name %></h1> <!--%= link_to gravatar_for(current_user, size: 150) %-->
  <h2> <% gravatar_for(@user) %></h2>
  <h3 align="center">Your Booking History</h3>
    
    <h3> Search for Bikes </h3>
    
      <div id="storebike-lookup">
        <%= form_tag search_store_bikes_path, remote: true, method: :get, id: "storebike-lookup-form" do %>
          <div class="form-group row no-padding text-center col-md-12">
            <div class="col-md-10">
              <%= number_field_tag :storebike, params[:storebike], placeholder: "Bike id", autofocus: true, class: "form-control search-box input-lg" %>
            </div>
            <div class="col-md-2">
              <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
                <i class="fa fa-search"></i> Look up a bike
              <% end %>
            </div>
          </div>
        <% end %>
      </div><br><br><br><br>
 
<div id="results">
    <%= render "users/result" %>
</div> 
<%= render 'store_bikes/list' %>