<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @cycle.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @cycle.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @cycle.address %>
</p>

<%= link_to 'Edit', edit_cycle_path(@cycle) %> |
<%= link_to 'Back', cycles_path %>
