
<h3>store bikes</h3>

<% @store_bikes.each do |store_bike| %>
  <div class="store_bike">
    <%= store_bike.store.name %>  
    <%= store_bike.bike.name %> 
    <%= store_bike.bike.price %> 
    <%= link_to "Show all bookings", store_store_bike_bookings_path(@store, store_bike) %>
    <%= link_to "Delete", store_store_bike_path(@store, store_bike), data: { confirm: 'Are you sure?' }, method: :delete %>
    <%= link_to "Edit", edit_store_store_bike_path(@store, store_bike) %>
    <%= link_to "Add booking", new_store_store_bike_booking_path(@store, store_bike) %>
  </div>
<% end %>
  <%= link_to 'New Store Bike', new_store_store_bike_path %>