<!DOCTYPE html>
<html lang='en'>


<p id="notice"><%= notice %></p>

<p>
  <span>Name:</span>
  <span><strong><%= @bike.name %></strong></span>
  <span><strong>Price:</strong></span>
  <span><%= @bike.price%></span>
</p>
<div class="photo">
  <%= image_tag @bike.image%>
</div>

  <%= link_to 'Edit', edit_bike_path(@bike) %> |
  <%= link_to 'Back', bikes_path %>
</html>